.leftPanel--div {
  width: 40%;
  height: 100%;
  padding: 20px 10px;
  border-radius: 4px 0 0 4px;
  border-right: 1px solid rgba(194, 213, 194, 0.842);
}

.leftPanel--div > ul > li {
  padding: 15px 30px;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.leftPanel--div > ul > li:hover {
  background-color: rgba(194, 213, 194, 0.6);
  border-radius: 4px;
  cursor: pointer;
}

.user-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.user-div > img {
  width: 150px;

  border: 1px solid rgb(194, 213, 194);
  border-radius: 100rem;
}

.user-div > h2 {
  padding: 1em 0;
}
