.myAccount-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.myAccount-container {
  margin-top: 10px;
  padding: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  max-width: 1050px;
  border: 1px solid rgba(194, 213, 194, 0.842);
}