.productlist  > ul {
    display: flex;
    gap: 5px;
    padding: 10px 10px;
}

.productlist li {
    min-height: 6em;
    min-width: 6em;
    max-height: 20em;
    max-width: 20em;

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 10px;

    border: 1px solid slateblue;
}