.loginForm {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    background-color: rgb(74, 148, 134);
    padding: 5em 5em;
    border-radius: 15em;
    box-shadow: 7px 5px 5px rgb(59, 117, 107);
}

.loginForm > span {
    color: rgb(236, 254, 249);
    text-align: center;
    padding-bottom: 2em;
}

.loginForm > input {
    padding: 1em 10px;
    border: none;
    outline: none;
    border-radius: 2em;
}

.loginForm > p {
    font-size: small;
    text-align: center;
    color: rgb(236, 254, 249);
}

.login--btn {
    min-width: 11em;
    margin-top: 2em;
    border-radius: 1em;
    outline: none;
    border: none;
    padding: 5px 0;
    background-color: rgb(242, 232, 138);
}

.close-window {
    position: absolute;
    top: 0;
    right: 0;
}