.upper--header {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    padding: 1em 2em;
}

.btns--div {
    position: fixed;
    top: 15px;
    right: 15px;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 1em;
    width: 100%;
}

.btn {
/*     background-color: #f9ffff;
    box-shadow: 1px 1px 2px rgb(52, 126, 52); */
    background-color: rgba(255, 255, 255);
    height: 40px;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: large;
}

.btn:hover {
    /* background-color: #b4cece; */
    background-color: rgb(250, 250, 250);
    color: #b4cece;
}

.btns--div > div {
    position: relative;
}

.cartIndicator {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 3px;
    left: 10px;
    font-size: smaller;
    width: 18px;
    height: 18px;
    background-color: rgb(240, 228, 123);
    box-shadow: 2px 2px rgb(190, 183, 112);
    cursor: default;

    border-radius: 10px;
}

.lower--header {
/*     border-top: 2px solid rgba(176, 176, 212, 0.562); */
/*     border-top: 2px solid rgba(176, 212, 195, 0.562); */
    border-top: 2px solid rgba(210, 212, 176, 0.562);
}

.lower--header > ul {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    gap: 2em;
}

.fakeBtn:hover {
    color: #b4cece;
    cursor: pointer;
}

.accountBtn {
    display: flex;
    align-items: center;
    gap: 5px;
}