.orderSuccess {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px 0 4em 0;
}

.orderDataContainer {
  width: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sm-p {
  font-size: smaller;
}
