.myOrders {
    padding-top: 10px;
}
.myOrders > li {
  padding: 10px 30px;
  letter-spacing: 3px;
  text-transform: uppercase;
}
.myOrders > li:nth-child(even) {
  background-color: rgba(194, 213, 194, 0.2);
}

.myOrders-h4 {
  display: inline;
  padding: 3px 7px 3px 10px;
  letter-spacing: 3px;
  background-color: antiquewhite;
}

.fullOrder {
  display: flex;
  flex-direction: column;
}

.fullOrder-products{
  background-color: rgba(213, 194, 194, 0.2);
  padding: 15px 10px;
}

.fullOrder-products > div {
  display: flex;
  justify-content: space-between;
  padding: 3px 0;
}

.fullOrder-price {
  text-align: end;
  font-size: small;
  padding: 4px 0;
}

.resetOrderViewBtn {
  margin-top: 2em;
  width: 80px;
}