.announcement {
  background-color: rgb(242, 232, 138);
  padding: 15px 0;
  width: 100%;
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 600px) {
  .announcement {
      font-size: smaller;
  }
}